# Serveur
PORT=3000

# Base de donnees PostgreSQL
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=api_etudiants

# JWT auth
JWT_SECRET=une_cle_tres_longue_et_aleatoire
JWT_EXPIRES_IN=1h