# Serveur
PORT=3000

# Base de donnees PostgreSQL
DB_HOST=localhost
DB_PORT=5432
DB_USER=USER
DB_PASSWORD=YOUR_SUPER_SECRET_PASSWORD
DB_NAME=YOUR_DATABASE_NAME

# JWT auth
JWT_SECRET=une_cle_tres_longue_et_aleatoire
JWT_EXPIRES_IN=1h

# Frontend URL
FRONTEND_URL=